name: Build PyQt Windows App

on:
  push:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install -r requirements.txt

      - name: Compile Application
        run: |
          pyinstaller --noconsole --onefile --name SuccessIndexApp --collect-all qfluentwidgets main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SuccessIndexApp
          path: dist/SuccessIndexApp.exe